[submodule "Source/ThirdParty/DearImGUI"]
	path = Source/ThirdParty/DearImGUI
	url = https://github.com/ocornut/imgui.git
[submodule "Source/ThirdParty/JoltPhysics-Arcanum"]
	path = Source/ThirdParty/JoltPhysics-Arcanum
	url = https://github.com/FIL3SAV3D/JoltPhysics-Arcanum.git
[submodule "Source/ThirdParty/SDL"]
	path = Source/ThirdParty/SDL
	url = https://github.com/libsdl-org/SDL.git
